@use '../abstract/variables';

.closing    {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    &__content {
        width: 300px;
        text-align: left;
    }
}