@use '../abstract/variables';

.hero   {

    background-color: variables.$dark-blue-main;
    color: variables.$white;
}

#hero__button   {

        background-color: variables.$cyan;
        color: variables.$white;
}

.hero-img-wrapper {
    background-color: variables.$dark-blue-intro;
}