@use '../abstract/variables';

.sign-up{
    gap: 2rem;
    font-size: 12px;
    background-color: variables.$dark-blue-main;
    color: variables.$white;

    &__card {
        background-color: variables.$dark-blue-testimonials;
    }

}

#signup-button{
    font-size: 12px;
    background-color: variables.$cyan;
    color: variables.$white;
}
