@use '../abstract/variables';

.sign-up{
    gap: 2rem;
    font-size: 12px;
    background-color: variables.$dark-blue-main;
    color: variables.$white;
    padding-top: 12rem;
    margin-bottom: -5rem;

    &__card {
        background-color: variables.$dark-blue-testimonials;
    }

}

#signup-button{
    font-size: 12px;
    background-color: variables.$cyan;
    color: variables.$white;
    // padding-top: 10rem;
}
