@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.navbar {
    flex: 2;

    // flex box on the ul under navbar
    &__list {
        display: flex;
        justify-content: space-evenly;
    }
}

