@use '../abstract/variables';


.navbar {

    &__list {

    }
    &__list__item__link {
        font-family: variables.$font-raleway;
        color: variables.$white;
    }
}

.logo {

    > img{
        width: 8rem;
    }
}