@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';


// colors
.--dark-blue-intro  {
    background-color: variables.$dark-blue-intro;
}

.--dark-blue-main   {
    background-color: variables.$dark-blue-main;
}

.--white-bg {
    background-color: variables.$white;
}

.--cyan-bg {
    background: variables.$cyan;
}