@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';


.logo {

    flex: 1;

    > img{
        width: 7rem;
    }
}

.hero__img  {
    width: 325px;
}

.pitch-box__img {
    width: 55px;
    margin-bottom: 2rem;
}

.closing__img   {
    width: 325px;
}

.profiles__card__img {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    align-self: center;
    justify-self: start;
    grid-column-start: 1;
    grid-row: 2;
}