@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';


// colors
.--dark-blue-intro  {
    background-color: variables.$dark-blue-intro;
}

.--dark-blue-main   {
    background-color: variables.$dark-blue-main;
}

.--white    {
    color: variables.$white;
}

.--cyan {
    background: variables.$cyan;
}

// font styles

.--is-normal {
    font-weight: 400;
}

.--is-bold  {
    font-weight: 700;
}

.--centered {
    text-align: center;
}
// Headings, Call-to-actions, Header Navigation
.--raleway  { 
    font-family: variables.$font-raleway;
}
// body
.--sans {
    font-family: variables.$font-sans;
}